[Unit]
Description=Scream
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/scream -i virbr0 -o pulse
User=root

[Install]
WantedBy=qemu-kvm.service
